@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Seção 1 */

.title-section {
  font-family: 'Anton', sans-serif;
  background-image: url('/docs/assets/images/por-do-sol.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31); /* Cor de fundo com transparência */
}

.title-section h1 {
  z-index: 1;
  color: #fff;
  font-size: 72px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Seção 2 */

.cultural {
  background-color: rgb(16, 16, 16);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 25px;
}

.cultural h2 {
  padding: 25px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 36px;
}

.cultural main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cultural-card {
  position: relative;
  margin: 15px;
  width: 315px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(195, 195, 195, 0.769);
}

.cultural-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.cultural-card:hover img {
  animation: fadeOut .5s linear forwards;
}

.cultural-card h3 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.cultural-card:hover h3 {
  animation: showText .5s linear forwards;
}

@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

/* Seção 3 */

.carousel-item img {
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.8);
}

/* Seção 4 */

.know-more {
  min-height: 40vh;
  display: flex;
  padding-inline: 80px;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(16, 16, 16);
  color: white;
}

.p1 {
  font-size: 30px;
}

.p2 {
  font-size: 18px;
  width: 90%;
}

.know-more input {
  width: 350px;
  border-radius: 20px;
  border: none;
  padding: 8px 15px;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  width: 150px;
  margin-top: 15px;
  border: none;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
  background-color: yellow;
  color: black;
}

@media (max-width: 925px) {
  .know-more {
    padding-inline: 35px;
  }
}

@media (max-width: 880px) {
  .know-more {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .text {
    text-align: center;
  }

  .p2 {
    width: 100%;
  }
  form button {
    margin-bottom: 25px;
  }
}

@media (max-width: 390px) {
  .know-more input {
    width: 300px;
  }
}